$color-snow: #ffffff;

$color-light-gray: #e3e3e3;

$color-table-border: #d0cece;
$color-table-text: #949494;
$color-table-even: #f6f6f6;
$color-table-price: #01e35a;

$color-graphite: #121212;

$color-sky: #0ea7eb;
$color-sky-1: #0ea5ea;
$color-sky-2: #14cefb;

$light-shadow-big: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
$light-shadow-small: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
$light-shadow-table: 0px 0px 47px 2px rgba(0, 0, 0, 0.1);